html, body { 
  margin:0; 
  padding:0; 
  height:100%; 
}

#mainMenu {
  list-style-type: none;
  text-align: center;
}

.button {
  width: 325px;
  height: 65px;
  background-color: lightskyblue;
  margin-bottom: 20px;
  font-size: 24pt;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.valueRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#parentNode {
  width: 155px;
  height: 150px;
  border-color: green;
  border-width: 3px;
  border-style: solid;
  position: relative;
  top: 20px;
  left: 600px;
  background-color: lightgray;
}

#contextNode {
  width: 155px;
  height: 150px;
  border-color: green;
  border-width: 3px;
  border-style: dashed;
  position: absolute;
  top: 75px;
  left: 1000px;
  background-color: lightgray;
}

#reduxNode {
  width: 155px;
  height: 150px;
  border-color: green;
  border-width: 3px;
  border-style: dashed;
  position: absolute;
  top: 75px;
  left: 1000px;
  background-color: lightgray;
}

#hookNode {
  width: 155px;
  height: 150px;
  border-color: green;
  border-width: 3px;
  border-style: dashed;
  position: absolute;
  top: 75px;
  left: 1000px;
  background-color: lightgray;
}


#child1Node {
  width: 155px;
  height: 150px;
  border-color: blue;
  border-width: 3px;
  border-style: solid;
  position: relative;
  display: inline-block;
  top: 80px;
  left: 450px;
  background-color: lightgray;
}

#child2Node {
  width: 155px;
  height: 150px;
  border-color: blue;
  border-width: 3px;
  border-style: solid;
  display: inline-block;
  position: relative;
  top: 80px;
  left: 600px;
  background-color: lightgray;
}

#grandchild21Node {
  width: 155px;
  height: 150px;
  border-color: yellow;
  border-width: 3px;
  border-style: solid;
  position: relative;
  top: 130px;
  left: 655px;
  background-color: lightgray;
}

#grandchild22Node {
  width: 155px;
  height: 150px;
  border-color: yellow;
  border-width: 3px;
  border-style: solid;
  position: relative;
  display: inline-block;
  top: -26px;
  left: 855px;
  background-color: lightgray;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  flex: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
}

#mainSubContainer {
  display: flex;
  flex-direction: row;
}

#exercisesTitleDiv {
  text-align: center;
  background-color: #0000FF;
  padding-bottom: 15px;
  padding-top: 10px;
  width: 100%;
}

#exercisesMainDiv {
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
}

.exerciseDiv {
  margin-bottom: 10px;
  font-family: 'courier';
  font-size: 14pt;
  border-color: white;
  border-width: 1px;
  border-style: solid;

}
#exerciseDescription {
  padding-left: 10px;
  color: yellow ;
}

.details {
  margin-left: 60px;
}

.result {
  color:lime;
}

#searchDiv {
  text-align: center;
  margin-top: 50px;
}

#searchInput {
  width: 50%;
  margin-right: 10px;
}

#quantityInput {
  width: 30px;
  margin-right: 20px;
}

#imageDiv {
  margin-top: 30px;
  margin-left: 30px;
}

#goButton {
  width: 120px;
  height: 40px;
  background-color: lightgray;
}